In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel("Tecnoempleo_f.xlsx") #DataFrame TecnoEmpleo (ANTHONY)

In [3]:
df1.head()

,Urls,Oferta,Empresa,Funcion,Aptitudes,Requisito,Idiomas,Jornada,Ubicacion,Teletrabajo o Presencial,Contrato,Salario,Experiencia,Texto,Fecha_de_publicacion,Fecha_extraccion
0,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,"['java', 'javascript', 'spring', 'angular', 'r...",FP2/Grado Superior,Inglés (Alto),Jornada completa,Madrid,Híbrido,Indefinido,NaN,3 años,Descripción de la oferta de empleo ¿Eres una p...,17/04/2025,2025-04-17 13:30:13.871
1,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,"['php7', 'phpunit', 'ajax', 'composer', 'poo',...",FP2/Grado Superior,Inglés (Medio),Jornada completa,Gzira - Malta,Presencial,Temporal,30000 30000,2 años,Descripción de la oferta de empleo ¡Únete a nu...,17/04/2025,2025-04-17 13:30:15.038
2,https://www.tecnoempleo.com/senior-backend-dev...,Senior Backend Developer (.NET/ Go/ PHP),WebBeds,Programador,"['C#', 'Golang', 'PHP', 'git', 'kubernetes', '...",Sin estudios,Inglés (Medio),Jornada completa,Palma - Baleares,Híbrido,Indefinido,NaN,3 años,Descripción de la oferta de empleo How will yo...,17/04/2025,2025-04-17 13:30:16.207
3,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,"['Java', 'REST', 'API', 'Git', 'CI/CD', 'Hiber...",Ingeniero Superior,Inglés (Alto),Jornada completa,Alcobendas - Madrid - España,NaN,Indefinido,NaN,Más de 5 años,Descripción de la oferta de empleo 7+ years of...,17/04/2025,2025-04-17 13:30:17.374
4,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,"['Java', 'Angular', 'SQL', 'SCRUM', 'Git', 'Ht...",Ingeniero Superior,Inglés (Alto),Jornada completa,Hospitalet de Llobregat - Barcelona,Híbrido,Indefinido,27000 33000,2 años,Descripción de la oferta de empleo Mytic Innov...,17/04/2025,2025-04-17 13:30:18.542

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3957 entries, 0 to 3956
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Urls                      3957 non-null   object
 1   Oferta                    3957 non-null   object
 2   Empresa                   3954 non-null   object
 3   Funcion                   3956 non-null   object
 4   Aptitudes                 3956 non-null   object
 5   Requisito                 1291 non-null   object
 6   Idiomas                   610 non-null    object
 7   Jornada                   3956 non-null   object
 8   Ubicacion                 3956 non-null   object
 9   Teletrabajo o Presencial  2130 non-null   object
 10  Contrato                  3956 non-null   object
 11  Salario                   730 non-null    object
 12  Experiencia               3956 non-null   object
 13  Texto                     3956 non-null   object
 14  Fecha_de_publicacion      3956 non-null   object
 15  Fecha_extraccion          3957 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(15)
memory usage: 494.8+ KB

In [5]:
#poner el nombre de las columnas en minúscula
df1.columns = df1.columns.str.lower()

In [6]:
#renombrar las columnas para unir los dataframes
df1.rename(columns={"urls": "id_urls",
                    "fecha_de_publicacion": "fecha",
                    "aptitudes": "tecnologias_aptitudes",
                    "requisito": "estudios",
                    "teletrabajo o presencial": "modalidad",
                    "texto": "descripcion"}
           , inplace=True)

In [7]:
#nombre de las columnas correcto
df1.head()

,id_urls,oferta,empresa,funcion,tecnologias_aptitudes,estudios,idiomas,jornada,ubicacion,modalidad,contrato,salario,experiencia,descripcion,fecha,fecha_extraccion
0,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,"['java', 'javascript', 'spring', 'angular', 'r...",FP2/Grado Superior,Inglés (Alto),Jornada completa,Madrid,Híbrido,Indefinido,NaN,3 años,Descripción de la oferta de empleo ¿Eres una p...,17/04/2025,2025-04-17 13:30:13.871
1,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,"['php7', 'phpunit', 'ajax', 'composer', 'poo',...",FP2/Grado Superior,Inglés (Medio),Jornada completa,Gzira - Malta,Presencial,Temporal,30000 30000,2 años,Descripción de la oferta de empleo ¡Únete a nu...,17/04/2025,2025-04-17 13:30:15.038
2,https://www.tecnoempleo.com/senior-backend-dev...,Senior Backend Developer (.NET/ Go/ PHP),WebBeds,Programador,"['C#', 'Golang', 'PHP', 'git', 'kubernetes', '...",Sin estudios,Inglés (Medio),Jornada completa,Palma - Baleares,Híbrido,Indefinido,NaN,3 años,Descripción de la oferta de empleo How will yo...,17/04/2025,2025-04-17 13:30:16.207
3,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,"['Java', 'REST', 'API', 'Git', 'CI/CD', 'Hiber...",Ingeniero Superior,Inglés (Alto),Jornada completa,Alcobendas - Madrid - España,NaN,Indefinido,NaN,Más de 5 años,Descripción de la oferta de empleo 7+ years of...,17/04/2025,2025-04-17 13:30:17.374
4,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,"['Java', 'Angular', 'SQL', 'SCRUM', 'Git', 'Ht...",Ingeniero Superior,Inglés (Alto),Jornada completa,Hospitalet de Llobregat - Barcelona,Híbrido,Indefinido,27000 33000,2 años,Descripción de la oferta de empleo Mytic Innov...,17/04/2025,2025-04-17 13:30:18.542

#### PORTAL_EMPLEO

In [9]:
#añadimos la columna "portal_empleo" a partir de la columna "id_urls"
df1["portal_empleo"] = df1["id_urls"].str.split("www.").str[1].str.split(".com").str[0]

#### JORNADA

In [11]:
#reemplazar valores que son "Jornada completa"
jornada_completa = {
    "Intensiva Mañana": "Jornada completa",
    "Turno rotatorio": "Jornada completa",
    "Intensiva Tarde": "Jornada completa"
}

df1["jornada"] = df1["jornada"].replace(jornada_completa)

#### TECNOLOGIAS_APTITUDES

In [13]:
#convertir la columna de listas a texto separado por ","
#df1["tecnologias_aptitudes"] = df1["tecnologias_aptitudes"].apply(lambda x: ",".join(x) if isinstance(x, list) else None)

#### ESTUDIOS

In [15]:
#convertirmos la columna en una columna booleana: si requiere estudios = True, si no reqiere estudios = False
df1["estudios"] = df1["estudios"].notna()

#### SALARIO

In [17]:
#dividir la columna salario (rango) en dos columnas: salario_min y salario_max
df1[["salario_min_pre","salario_max_pre"]] = df1["salario"].str.split(" ", expand = True)

In [18]:
#pasar salario bruto por hora a salario bruto anual
df1["salario_min"] = df1["salario_min_pre"].apply(lambda x: int(x) * 40 * 52 if str(x).isdigit() and len(x) == 2 else x)
df1["salario_max"] = df1["salario_max_pre"].apply(lambda x: int(x) * 40 * 52 if str(x).isdigit() and len(x) == 2 else x)

In [19]:
#eliminar columnas de salario innecesarias
columnas_salario_eliminar = ["salario", "salario_min_pre", "salario_max_pre"]
df1.drop(columns = columnas_salario_eliminar, inplace = True)

#### FECHA

In [21]:
df1["fecha"] = pd.to_datetime(df1["fecha"], format="%d/%m/%Y")

In [22]:
df1["fecha"] = df1["fecha"].dt.strftime("%m/%Y")

#### UBICACIÓN

In [24]:
#limpiamos la columna "ubicacion" sustituyendo algunos valores por sus respectivas provincias
provincias = [
    "Álava", "Albacete", "Alicante", "Almería", "Asturias", "Ávila", "Badajoz", "Barcelona", "Burgos",
    "Cáceres", "Cádiz", "Cantabria", "Castellón", "Ciudad Real", "Córdoba", "Cuenca", "Girona", "Granada",
    "Guadalajara", "Guipúzcoa", "Huelva", "Huesca", "Baleares", "Jaén", "La Coruña", "La Rioja",
    "Las Palmas", "León", "Lleida", "Lugo", "Madrid", "Málaga", "Murcia", "Navarra", "Ourense",
    "Palencia", "Pontevedra", "Salamanca", "Santa Cruz de Tenerife", "Segovia", "Sevilla", "Soria",
    "Tarragona", "Teruel", "Toledo", "Valencia", "Valladolid", "Vizcaya", "Zamora", "Zaragoza"]

provincias_con_variante = {
    "Bizkaia" : "Vizcaya",
    "A Coruña" : "La Coruña",
    "Gipuzkoa" : "Guipúzcoa",
    "Zona Villaverde" : "Madrid"}

def extraer_provincia(ubicacion):

    if not isinstance(ubicacion, str):
        return None
    
    ubicacion_lower = ubicacion.lower()

    for variante, provincia_real in provincias_con_variante.items():
        if variante.lower() in ubicacion_lower:
            return provincia_real
    
    for provincia in provincias:
        if provincia.lower() in ubicacion_lower:
            return provincia
    
    return ubicacion  # Devuelve el valor original si no se encuentra una provincia


df1["ubicacion"] = df1["ubicacion"].apply(extraer_provincia)

In [25]:
#limpiamos los valores que contienen otros países sustituyendolos por su pais
paises = [
    "Albania", "Alemania", "Andorra", "Armenia", "Austria", "Azerbaiyán", "Bielorrusia", "Bélgica",
    "Bosnia y Herzegovina", "Bulgaria", "Croacia", "Chipre", "Chequia", "Dinamarca", "Eslovaquia",
    "Eslovenia", "España", "Estonia", "Finlandia", "Francia", "Israel", "Georgia", "Grecia", "Hungría", "Holanda", "Irlanda",
    "Islandia", "Italia", "Kazajistán", "Kosovo", "Macedonia", "Letonia", "Liechtenstein", "Lituania", "Luxemburgo",
    "Malta", "Moldavia", "Mónaco", "Montenegro", "Noruega", "Países Bajos", "Macedonia del Norte", "Polonia",
    "Portugal", "Reino Unido", "Rumanía", "Rusia", "San Marino", "Serbia", "Suecia", "Suiza", "Turquía", "Ucrania"

]

def extraer_pais(ubicacion):

    if not isinstance(ubicacion, str):
        return None
    
    ubicacion_lower = ubicacion.lower()
    
    for pais in paises:
        if pais.lower() in ubicacion_lower:
            return pais
    
    return ubicacion  # Devuelve el valor original si no se encuentra una provincia


df1["ubicacion"] = df1["ubicacion"].apply(extraer_pais)

#### IDIOMAS

In [27]:
#limpiar la columna "idiomas" eliminando el nivel
niveles = ["(Alto)", "(Medio)", "(Excelente)", "(Bajo)"]

def limpiar_idiomas(texto):
    if pd.isna(texto):
        return None

    palabras = texto.split()  
    idiomas = []

    for palabra in palabras:
        if palabra not in niveles:
            idiomas.append(palabra)
    return idiomas

df1["idiomas"] = df1["idiomas"].apply(limpiar_idiomas)

In [28]:
#convertir la columna de listas a texto separado por ","
df1["idiomas"] = df1["idiomas"].apply(lambda x: ",".join(x) if isinstance(x, list) else None)

#### MODALIDAD

In [30]:
#limpiamos la columna "modalidad" dejando solo los tres valores deseados (Remoto, Híbrido y Presencial)
df1["modalidad"] = df1["modalidad"].apply(lambda x: x.replace("100% remoto", "Remoto") if isinstance(x, str) else x)

#### EXPERIENCIA

In [32]:
#limpiamos la columna experiencia sustituyendo los valores de texto por float (0, 0.5, 1, 2 ...)
experiencia_requerida = {
    "Sin" : 0,
    "Menos de un año" : 0.5,
    "1 año" : 1,
    "2 años" : 2,
    "3 años" : 3,
    "3-5 años" : 3,
    "Más de 5 años" : 5,
    "Más de 10 años" : 10  
}

def limpiar_experiencia(valor):
    if isinstance(valor, str):
        return experiencia_requerida.get(valor, None)
    return None

df1["experiencia"] = df1["experiencia"].apply(limpiar_experiencia)

In [ ]:
#'id_urls'--OK
#'oferta'--OK
#'empresa'--OK (hay 4 NaN)
#'funcion'--OK
#'tecnologias_aptitudes'-- OK
#'estudios'-- OK (transformar en Booleano (True/False))
#'jornada'-- OK(pasar diccionario para convertir en Jornada Completa (Intensiva Mañana, Turno rotatorio e Intensiva Tarde))
#'contrato' -- OK
#'salario'-- OK (separar en dos columnas (min y max) y convertir bruto por hora en bruto anual)
#'fecha' -- OK (cambiado a tipo de dato fecha y al formato deseado MM/YYYY)
#'ubicacion' -- OK (pasar diccionario con provincias (primera opcion), si no pasar diccionario países y si no NaN)
#'idiomas' -- OK (eliminado niveles y convertir a texto)
#'descripcion' -- OK
#'modalidad' -- OK (cambiar "100% remoro" por "Remoto")
#'experiencia' -- OK (cambiar a numero)
#'portal_empleo'

In [55]:
df1.head()

,id_urls,oferta,empresa,funcion,tecnologias_aptitudes,estudios,idiomas,jornada,ubicacion,modalidad,contrato,experiencia,descripcion,fecha,fecha_extraccion,portal_empleo,salario_min,salario_max
0,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,"['java', 'javascript', 'spring', 'angular', 'r...",True,Inglés,Jornada completa,Madrid,Híbrido,Indefinido,3.0,Descripción de la oferta de empleo ¿Eres una p...,04/2025,2025-04-17 13:30:13.871,tecnoempleo,NaN,NaN
1,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,"['php7', 'phpunit', 'ajax', 'composer', 'poo',...",True,Inglés,Jornada completa,Malta,Presencial,Temporal,2.0,Descripción de la oferta de empleo ¡Únete a nu...,04/2025,2025-04-17 13:30:15.038,tecnoempleo,30000,30000
2,https://www.tecnoempleo.com/senior-backend-dev...,Senior Backend Developer (.NET/ Go/ PHP),WebBeds,Programador,"['C#', 'Golang', 'PHP', 'git', 'kubernetes', '...",True,Inglés,Jornada completa,Baleares,Híbrido,Indefinido,3.0,Descripción de la oferta de empleo How will yo...,04/2025,2025-04-17 13:30:16.207,tecnoempleo,NaN,NaN
3,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,"['Java', 'REST', 'API', 'Git', 'CI/CD', 'Hiber...",True,Inglés,Jornada completa,Madrid,NaN,Indefinido,5.0,Descripción de la oferta de empleo 7+ years of...,04/2025,2025-04-17 13:30:17.374,tecnoempleo,NaN,NaN
4,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,"['Java', 'Angular', 'SQL', 'SCRUM', 'Git', 'Ht...",True,Inglés,Jornada completa,Barcelona,Híbrido,Indefinido,2.0,Descripción de la oferta de empleo Mytic Innov...,04/2025,2025-04-17 13:30:18.542,tecnoempleo,27000,33000

In [57]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3957 entries, 0 to 3956
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_urls                3957 non-null   object
 1   oferta                 3957 non-null   object
 2   empresa                3954 non-null   object
 3   funcion                3956 non-null   object
 4   tecnologias_aptitudes  3956 non-null   object
 5   estudios               3957 non-null   bool
 6   idiomas                610 non-null    object
 7   jornada                3956 non-null   object
 8   ubicacion              3956 non-null   object
 9   modalidad              2130 non-null   object
 10  contrato               3956 non-null   object
 11  experiencia            3956 non-null   float64
 12  descripcion            3956 non-null   object
 13  fecha                  3956 non-null   object
 14  fecha_extraccion       3957 non-null   datetime64[ns]
 15  portal_empleo          3957 non-null   object
 16  salario_min            730 non-null    object
 17  salario_max            730 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(1), object(15)
memory usage: 529.5+ KB

In [ ]:
#ordenar columnas
#revisar NaNs