In [18]:
import numpy as np
import pandas as pd

In [24]:
#esto es un dataframe ficticio, aqui se deber√≠a meter el archivo .csv de nuestro dataframe original
columnas = [
    "id_urls",
    "fecha",
    "oferta",
    "empresa",
    "funcion",
    "salario",
    "estudios",
    "experiencia",
    "ubicacion",
    "modalidad",
    "jornada",
    "contrato",
    "skills",
    "tecnologias_aptitudes",
    "idiomas",
    "vacaciones",
    "beneficios",
    "portal_empleo",
    "descripcion"
]

In [26]:
ofertas_empleo = pd.DataFrame(columns=columnas)
ofertas_empleo

Empty DataFrame
Columns: [id_urls, fecha, oferta, empresa, funcion, salario, estudios, experiencia, ubicacion, modalidad, jornada, contrato, skills, tecnologias_aptitudes, idiomas, vacaciones, beneficios, portal_empleo, descripcion]
Index: []

**empresa, ubicacion, modalidad, jornada, contrato, portal_empleo // (UNIQUE)**

In [ ]:
#DF_EMPRESA

df_empresa = pd.DataFrame(ofertas_empleo["empresa"].dropna().unique()).reset_index()

df_empresa.columns = ["id_empresa", "empresa"]

df_empresa["id_empresa"] = df_empresa["id_empresa"] + 1

df_empresa

In [ ]:
#DF_UBICACION

df_ubicacion = pd.DataFrame(ofertas_empleo["ubicacion"].dropna().unique()).reset_index()

df_ubicacion.columns = ["id_ubicacion", "ubicacion"]

df_ubicacion["id_ubicacion"] = df_ubicacion["id_ubicacion"] + 1

df_ubicacion

In [ ]:
#DF_MODALIDAD

df_modalidad = pd.DataFrame(ofertas_empleo["modalidad"].dropna().unique()).reset_index()

df_modalidad.columns = ["id_modalidad", "modalidad"]

df_modalidad["id_modalidad"] = df_modalidad["id_modalidad"] + 1

df_modalidad

In [ ]:
#DF_JORNADA

df_jornada = pd.DataFrame(ofertas_empleo["jornada"].dropna().unique()).reset_index()

df_jornada.columns = ["id_jornada", "jornada"]

df_jornada["id_jornada"] = df_jornada["id_jornada"] + 1

df_jornada

In [ ]:
#DF_CONTRATO

df_contrato = pd.DataFrame(ofertas_empleo["contrato"].dropna().unique()).reset_index()

df_jornada.columns = ["id_jornada", "jornada"]

df_jornada["id_jornada"] = df_jornada["id_jornada"] + 1

df_jornada

In [ ]:
#DF_PORTAL_EMPLEO

df_portal_empleo = pd.DataFrame(ofertas_empleo["portal_empleo"].dropna().unique()).reset_index()

df_portal_empleo.columns = ["id_portal_empleo", "portal_empleo"]

df_portal_empleo["id_portal_empleo"] = df_jornada["id_portal_empleo"] + 1

df_portal_empleo

**tabla principal // DF_OFERTAS**

In [ ]:
#DF_OFERTAS

map_empresa = {v: k for k, v in df_empresa.values}
map_ubicacion = {v: k for k, v in df_ubicacion.values}
map_modalidad = {v: k for k, v in df_modalidad.values}
map_jornada = {v: k for k, v in df_jornada.values}
map_contrato = {v: k for k, v in df_contrato.values}
map_portal = {v: k for k, v in df_portal_empleo.values}

df_ofertas = ofertas_empleo[["id_urls", "fecha", "oferta", "empresa", "funcion", "salario","estudios", "experiencia", 
                             "ubicacion", "modalidad", "jornada", "contrato", "vacaciones", "portal_empleo", 
                             "descripcion"]].dropna(subset=["empresa", "ubicacion", "modalidad", "jornada", "contrato", 
                                                            "portal_empleo"]).reset_index(drop = True)

df_ofertas["empresa"] = df_ofertas["empresa"].map(map_empresa)
df_ofertas["ubicacion"] = df_ofertas["ubicacion"].map(map_ubicacion)
df_ofertas["modalidad"] = df_ofertas["modalidad"].map(map_modalidad)
df_ofertas["jornada"] = df_ofertas["jornada"].map(map_jornada)
df_ofertas["contrato"] = df_ofertas["contrato"].map(map_contrato)
df_ofertas["portal_empleo"] = df_ofertas["portal_empleo"].map(map_portal)

df_ofertas = df_ofertas.rename(columns={"empresa": "id_empresa",
                                        "ubicacion": "id_ubicacion",
                                        "modalidad": "id_modalidad",
                                        "jornada": "id_jornada",
                                        "contrato": "id_contrato",
                                        "portal_empleo": "id_portal_empleo"})

df_ofertas = df_ofertas.dropna(subset=["id_empresa", "id_ubicacion", "id_modalidad", "id_jornada", "id_contrato", 
                                       "id_portal_empleo"]).reset_index(drop = True)

columnas_id = ["id_empresa", "id_ubicacion", "id_modalidad", "id_jornada", "id_contrato", "id_portal_empleo"]

df_ofertas[columnas_id] = df_ofertas[columnas_id].astype(int)

df_ofertas

**skills, tecnologias_aptitudes, idiomas, beneficios // (VARIOS_VALORES)**

In [ ]:
#DF_SKILLS

df_skills = pd.DataFrame(set(ofertas_empleo["skills"].dropna().apply(eval).sum())).reset_index()

df_skills.columns = ["id_skills", "skills"]

df_skills["id_skills"] = df_skills["id_skills"] + 1

df_skills

In [ ]:
#DF_TECNOLOGIAS_APTITUDES

df_tecnologias_aptitudes = pd.DataFrame(set(ofertas_empleo["tecnologias_aptitudes"].dropna().apply(eval).sum())).reset_index()

df_tecnologias_aptitudes.columns = ["id_tecnologias", "tecnologias_aptitudes"]

df_tecnologias_aptitudes["id_tecnologias"] = df_tecnologias_aptitudes["id_tecnologias"] + 1

df_tecnologias_aptitudes

In [ ]:
#DF_IDIOMAS

df_idiomas = pd.DataFrame(set(ofertas_empleo["idiomas"].dropna().apply(eval).sum())).reset_index()

df_idiomas.columns = ["id_idiomas", "idiomas"]

df_idiomas["id_idiomas"] = df_idiomas["id_idiomas"] + 1

df_idiomas

In [ ]:
#DF_BENEFICIOS

df_beneficios = pd.DataFrame(set(ofertas_empleo["beneficios"].dropna().apply(eval).sum())).reset_index()

df_beneficios.columns = ["id_beneficios", "beneficios"]

df_beneficios["id_beneficios"] = df_beneficios["id_beneficios"] + 1

df_beneficios

**oferta_tecnologia, oferta_skill, oferta_idioma, oferta_beneficio // (COMPUESTAS)**

In [ ]:
#DF_OFERTA_TECNOLOGIA

df_oferta_tecnologia = ofertas_empleo[["id_urls", "tecnologias_aptitudes"]].dropna()

df_oferta_tecnologia["tecnologias_aptitudes"] = df_oferta_tecnologia["tecnologias_aptitudes"].apply(eval)

df_oferta_tecnologia = df_oferta_tecnologia.explode("tecnologias_aptitudes").reset_index(drop = True)

map_tecnologias = {v : k for k,v in df_tecnologias.values}

df_oferta_tecnologia["tecnologias_aptitudes"] = df_oferta_tecnologia["tecnologias_aptitudes"].map(map_tecnologias)

df_oferta_tecnologia.columns = ["id_urls", "id_tecnologias"]

df_oferta_tecnologia = df_oferta_tecnologia.dropna().reset_index(drop = True)

df_oferta_tecnologia["id_tecnologias"] = df_oferta_tecnologia["id_tecnologias"].apply(int)

df_oferta_tecnologia

In [ ]:
#DF_OFERTA_SKILL

df_oferta_skill = ofertas_empleo[["id_urls", "skills"]].dropna()

df_oferta_skill["skills"] = df_oferta_skill["skills"].apply(eval)

df_oferta_skill = df_oferta_skill.explode("skills").reset_index(drop = True)

map_skill = {v : k for k,v in df_skills.values}

df_oferta_skill["skills"] = df_oferta_skill["skills"].map(map_skill)

df_oferta_skill.columns = ["id_urls", "id_skills"]

df_oferta_skill = df_oferta_skill.dropna().reset_index(drop = True)

df_oferta_skill["id_skills"] = df_oferta_skill["id_skills"].apply(int)

df_oferta_skill

In [ ]:
#DF_OFERTA_IDIOMA

df_oferta_idioma = ofertas_empleo[["id_urls", "idiomas"]].dropna()

df_oferta_idioma["idiomas"] = df_oferta_idioma["idiomas"].apply(eval)

df_oferta_idioma = df_oferta_idioma.explode("idiomas").reset_index(drop = True)

map_idiomas = {v : k for k,v in df_idiomas.values}

df_oferta_idioma["idiomas"] = df_oferta_idioma["idiomas"].map(map_idiomas)

df_oferta_idioma.columns = ["id_urls", "id_idiomas"]

df_oferta_idioma = df_oferta_idioma.dropna().reset_index(drop = True)

df_oferta_idioma["id_idiomas"] = df_oferta_idioma["id_idiomas"].apply(int)

df_oferta_idioma

In [ ]:
#DF_OFERTA_BENEFICIO

df_oferta_beneficio = ofertas_empleo[["id_urls", "beneficios"]].dropna()

df_oferta_beneficio["beneficios"] = df_oferta_beneficio["beneficios"].apply(eval)

df_oferta_beneficio = df_oferta_beneficio.explode("beneficios").reset_index(drop = True)

map_beneficios = {v : k for k,v in df_beneficios.values}

df_oferta_beneficio["beneficios"] = df_oferta_beneficio["beneficios"].map(map_beneficios)

df_oferta_beneficio.columns = ["id_urls", "id_beneficios"]

df_oferta_beneficio = df_oferta_beneficio.dropna().reset_index(drop = True)

df_oferta_beneficio["id_beneficios"] = df_oferta_beneficio["id_beneficios"].apply(int)

df_oferta_beneficio