In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel("prueba.xlsx") #DataFrame TecnoEmpleo (ANTHONY)

In [3]:
df1.head()

,Urls,Oferta,Empresa,Funcion,Aptitudes,Requisito,Jornada,Contrato,Salario,Fecha_de_publicacion,Ubicacion,Idiomas,Texto,Teletrabajo o Presencial,Experiencia
0,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,Java REST API Git CI/CD Hibernate Docker Cloud...,Ingeniero Superior,Jornada completa,Indefinido,NaN,12/04/2025,Alcobendas - Madrid - España,Inglés (Alto),Descripción de la oferta de empleo 7+ years of...,NaN,Más de 5 años
1,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,Java Angular SQL SCRUM Git Html CSS Bootstrap ...,Ingeniero Superior,Jornada completa,Indefinido,27000 33000,11/04/2025,Hospitalet de Llobregat - Barcelona,Inglés (Alto),Descripción de la oferta de empleo Mytic Innov...,Híbrido,2 años
2,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,java javascript spring angular react html css ...,FP2/Grado Superior,Jornada completa,Indefinido,NaN,11/04/2025,Madrid,Inglés (Alto),Descripción de la oferta de empleo ¿Eres una p...,Híbrido,3 años
3,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,php7 phpunit ajax composer poo psr4 svn doctrine,FP2/Grado Superior,Jornada completa,Temporal,30000 30000,11/04/2025,Gzira - Malta,Inglés (Medio),Descripción de la oferta de empleo ¡Únete a nu...,Presencial,2 años
4,https://www.tecnoempleo.com/docente-online-int...,Docente online Inteligencia Artificial,EIP Escuela Internacional Posgrados,Formador,Azure Zapier Chat GPT Make Monica Gemini,FP2/Grado Superior,Media jornada,Temporal,24 24,11/04/2025,Teletrabajo,NaN,Descripción de la oferta de empleo ¡Únete a nu...,100% remoto,1 año

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3995 entries, 0 to 3994
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Urls                      3995 non-null   object
 1   Oferta                    3995 non-null   object
 2   Empresa                   3991 non-null   object
 3   Funcion                   3995 non-null   object
 4   Aptitudes                 3995 non-null   object
 5   Requisito                 1298 non-null   object
 6   Jornada                   3995 non-null   object
 7   Contrato                  3995 non-null   object
 8   Salario                   735 non-null    object
 9   Fecha_de_publicacion      3995 non-null   object
 10  Ubicacion                 3995 non-null   object
 11  Idiomas                   607 non-null    object
 12  Texto                     3891 non-null   object
 13  Teletrabajo o Presencial  2195 non-null   object
 14  Experiencia               3891 non-null   object
dtypes: object(15)
memory usage: 468.3+ KB

In [5]:
#poner el nombre de las columnas en minúscula
df1.columns = df1.columns.str.lower()

In [6]:
#renombrar las columnas para unir los dataframes
df1.rename(columns={"urls": "id_urls",
                    "fecha_de_publicacion": "fecha",
                    "aptitudes": "tecnologias_aptitudes",
                    "requisito": "estudios",
                    "teletrabajo o presencial": "modalidad",
                    "texto": "descripcion"}
           , inplace=True)

In [7]:
#nombre de las columnas correcto
df1.head()

,id_urls,oferta,empresa,funcion,tecnologias_aptitudes,estudios,jornada,contrato,salario,fecha,ubicacion,idiomas,descripcion,modalidad,experiencia
0,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,Java REST API Git CI/CD Hibernate Docker Cloud...,Ingeniero Superior,Jornada completa,Indefinido,NaN,12/04/2025,Alcobendas - Madrid - España,Inglés (Alto),Descripción de la oferta de empleo 7+ years of...,NaN,Más de 5 años
1,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,Java Angular SQL SCRUM Git Html CSS Bootstrap ...,Ingeniero Superior,Jornada completa,Indefinido,27000 33000,11/04/2025,Hospitalet de Llobregat - Barcelona,Inglés (Alto),Descripción de la oferta de empleo Mytic Innov...,Híbrido,2 años
2,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,java javascript spring angular react html css ...,FP2/Grado Superior,Jornada completa,Indefinido,NaN,11/04/2025,Madrid,Inglés (Alto),Descripción de la oferta de empleo ¿Eres una p...,Híbrido,3 años
3,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,php7 phpunit ajax composer poo psr4 svn doctrine,FP2/Grado Superior,Jornada completa,Temporal,30000 30000,11/04/2025,Gzira - Malta,Inglés (Medio),Descripción de la oferta de empleo ¡Únete a nu...,Presencial,2 años
4,https://www.tecnoempleo.com/docente-online-int...,Docente online Inteligencia Artificial,EIP Escuela Internacional Posgrados,Formador,Azure Zapier Chat GPT Make Monica Gemini,FP2/Grado Superior,Media jornada,Temporal,24 24,11/04/2025,Teletrabajo,NaN,Descripción de la oferta de empleo ¡Únete a nu...,100% remoto,1 año

#### PORTAL_EMPLEO

In [8]:
#añadimos la columna "portal_empleo" a partir de la columna "id_urls"
df1["portal_empleo"] = df1["id_urls"].str.split("www.").str[1].str.split(".com").str[0]

#### JORNADA

In [10]:
#reemplazar valores que son "Jornada completa"
jornada_completa = {
    "Intensiva Mañana": "Jornada completa",
    "Turno rotatorio": "Jornada completa",
    "Intensiva Tarde": "Jornada completa"
}

df1["jornada"] = df1["jornada"].replace(jornada_completa)

#### ESTUDIOS

In [11]:
#convertirmos la columna en una columna booleana: si requiere estudios = True, si no reqiere estudios = False
df1["estudios"] = df1["estudios"].notna()

#### SALARIO

In [25]:
#dividir la columna salario (rango) en dos columnas: salario_min y salario_max
df1[["salario_min_pre","salario_max_pre"]] = df1["salario"].str.split(" ", expand = True)

In [29]:
#pasar salario bruto por hora a salario bruto anual
df1["salario_min"] = df1["salario_min_pre"].apply(lambda x: int(x) * 40 * 52 if str(x).isdigit() and len(x) == 2 else x)
df1["salario_max"] = df1["salario_max_pre"].apply(lambda x: int(x) * 40 * 52 if str(x).isdigit() and len(x) == 2 else x)

In [33]:
#eliminar columnas de salario innecesarias
columnas_salario_eliminar = ["salario", "salario_min_pre", "salario_max_pre"]
df1.drop(columns = columnas_salario_eliminar, inplace = True)

#### FECHA

In [50]:
df1["fecha"] = pd.to_datetime(df1["fecha"], format="%d/%m/%Y")

In [54]:
df1["fecha"] = df1["fecha"].dt.strftime("%m/%Y")

#### UBICACIÓN

In [175]:
provincias = [
    "Álava", "Albacete", "Alicante", "Almería", "Asturias", "Ávila", "Badajoz", "Barcelona", "Burgos",
    "Cáceres", "Cádiz", "Cantabria", "Castellón", "Ciudad Real", "Córdoba", "Cuenca", "Girona", "Granada",
    "Guadalajara", "Guipúzcoa", "Huelva", "Huesca", "Baleares", "Jaén", "La Coruña", "La Rioja",
    "Las Palmas", "León", "Lleida", "Lugo", "Madrid", "Málaga", "Murcia", "Navarra", "Ourense",
    "Palencia", "Pontevedra", "Salamanca", "Santa Cruz de Tenerife", "Segovia", "Sevilla", "Soria",
    "Tarragona", "Teruel", "Toledo", "Valencia", "Valladolid", "Vizcaya", "Zamora", "Zaragoza"]

provincias_con_variante = {
    "Bizkaia" : "Vizcaya",
    "A Coruña" : "La Coruña",
    "Gipuzkoa" : "Guipúzcoa",
    "Zona Villaverde" : "Madrid"}

def extraer_provincia(ubicacion):
    
    ubicacion_lower = ubicacion.lower()

    for variante, provincia_real in provincias_con_variante.items():
        if variante.lower() in ubicacion_lower:
            return provincia_real
    
    for provincia in provincias:
        if provincia.lower() in ubicacion_lower:
            return provincia
    
    return ubicacion  # Devuelve el valor original si no se encuentra una provincia


df1["provincia"] = df1["ubicacion"].apply(extraer_provincia)

In [159]:
paises = [
    "Albania", "Alemania", "Andorra", "Armenia", "Austria", "Azerbaiyán", "Bielorrusia", "Bélgica",
    "Bosnia y Herzegovina", "Bulgaria", "Croacia", "Chipre", "Chequia", "Dinamarca", "Eslovaquia",
    "Eslovenia", "España", "Estonia", "Finlandia", "Francia", "Georgia", "Grecia", "Hungría", "Holanda", "Irlanda",
    "Islandia", "Italia", "Kazajistán", "Kosovo", "Macedonia", "Letonia", "Liechtenstein", "Lituania", "Luxemburgo",
    "Malta", "Moldavia", "Mónaco", "Montenegro", "Noruega", "Países Bajos", "Macedonia del Norte", "Polonia",
    "Portugal", "Reino Unido", "Rumanía", "Rusia", "San Marino", "Serbia", "Suecia", "Suiza", "Turquía", "Ucrania"

]

def extraer_pais(ubicacion):
    
    ubicacion_lower = ubicacion.lower()
    
    for pais in paises:
        if pais.lower() in ubicacion_lower:
            return pais
    
    return ubicacion  # Devuelve el valor original si no se encuentra una provincia


df1["provincia"] = df1["provincia"].apply(extraer_pais)

In [111]:
def limpiar_ubicacion(ubicacion):
    if "-" in ubicacion:
        partes = [p.strip() for p in ubicacion.split("-")]
        if len(partes) == 3:
            return partes[1]
        elif len(partes) == 2:
            return partes[0]
        else:
            return partes[0]
    else:
        # eliminar países conocidos si aparecen al final
        ubicacion = ubicacion.lower()
        paises = ["españa", "reino unido", "portugal", "alemania"]
        for pais in paises:
            if ubicacion.endswith(pais):
                return ubicacion.replace(pais, "").strip().title()
        return ubicacion.title()

df1["provincia"] = df1["ubicacion"].apply(limpiar_ubicacion)

In [111]:
def limpiar_ubicacion(ubicacion):
    if "-" in ubicacion:
        partes = [p.strip() for p in ubicacion.split("-")]
        if len(partes) == 3:
            return partes[1]
        elif len(partes) == 2:
            return partes[0]
        else:
            return partes[0]
    else:
        # eliminar países conocidos si aparecen al final
        ubicacion = ubicacion.lower()
        paises = ["españa", "reino unido", "portugal", "alemania"]
        for pais in paises:
            if ubicacion.endswith(pais):
                return ubicacion.replace(pais, "").strip().title()
        return ubicacion.title()

df1["provincia"] = df1["ubicacion"].apply(limpiar_ubicacion)

In [95]:
def eliminar_espana(valor):
    if isinstance(valor, str):
        palabras = valor.split()
        if len(palabras) == 2 and "España" in palabras:
            return palabras[0]
    return valor
    
df1["provincia"] = df1["provincia"].apply(eliminar_espana)

In [81]:
df1["provincia"] = df1["ubicacion"].apply(limpiar_ubicacion)
df1["provincia"] = df1["provincia"].apply(eliminar_espana)

#### IDIOMAS

In [195]:
#limpiar la columna "idiomas" eliminando el nivel
niveles = ["(Alto)", "(Medio)", "(Excelente)", "(Bajo)"]

def limpiar_idiomas(texto):
    if pd.isna(texto):
        return None

    palabras = texto.split()  
    idiomas = []

    for palabra in palabras:
        if palabra not in niveles:
            idiomas.append(palabra)
    return idiomas

df1["idiomas_limpios"] = df1["idiomas"].apply(limpiar_idiomas)

#### MODALIDAD

In [215]:
df1["modalidad_f"] = df1["modalidad"].apply(lambda x: x.replace("100% remoto", "Remoto") if isinstance(x, str) else x)

#### EXPERIENCIA

In [201]:
df1.head()

,id_urls,oferta,empresa,funcion,tecnologias_aptitudes,estudios,jornada,contrato,fecha,ubicacion,idiomas,descripcion,modalidad,experiencia,portal_empleo,salario_min,salario_max,provincia,idiomas_limpios
0,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,Java REST API Git CI/CD Hibernate Docker Cloud...,True,Jornada completa,Indefinido,04/2025,Alcobendas - Madrid - España,Inglés (Alto),Descripción de la oferta de empleo 7+ years of...,NaN,Más de 5 años,tecnoempleo,NaN,NaN,Madrid,[Inglés]
1,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,Java Angular SQL SCRUM Git Html CSS Bootstrap ...,True,Jornada completa,Indefinido,04/2025,Hospitalet de Llobregat - Barcelona,Inglés (Alto),Descripción de la oferta de empleo Mytic Innov...,Híbrido,2 años,tecnoempleo,27000,33000,Barcelona,[Inglés]
2,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,java javascript spring angular react html css ...,True,Jornada completa,Indefinido,04/2025,Madrid,Inglés (Alto),Descripción de la oferta de empleo ¿Eres una p...,Híbrido,3 años,tecnoempleo,NaN,NaN,Madrid,[Inglés]
3,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,php7 phpunit ajax composer poo psr4 svn doctrine,True,Jornada completa,Temporal,04/2025,Gzira - Malta,Inglés (Medio),Descripción de la oferta de empleo ¡Únete a nu...,Presencial,2 años,tecnoempleo,30000,30000,Gzira - Malta,[Inglés]
4,https://www.tecnoempleo.com/docente-online-int...,Docente online Inteligencia Artificial,EIP Escuela Internacional Posgrados,Formador,Azure Zapier Chat GPT Make Monica Gemini,True,Media jornada,Temporal,04/2025,Teletrabajo,NaN,Descripción de la oferta de empleo ¡Únete a nu...,100% remoto,1 año,tecnoempleo,49920,49920,Teletrabajo,None

In [ ]:
#'id_urls'--OK
#'oferta'--OK
#'empresa'--OK (hay 4 NaN)
#'funcion'--OK
'tecnologias_aptitudes'--Intentar extraer en lista
#'estudios'-- OK (transformar en Booleano (True/False))
#'jornada'-- OK(pasar diccionario para convertir en Jornada Completa (Intensiva Mañana, Turno rotatorio e Intensiva Tarde))
#'contrato' -- OK
#'salario'-- OK (separar en dos columnas (min y max) y convertir bruto por hora en bruto anual)
#'fecha' -- OK (cambiado a tipo de dato fecha y al formato deseado MM/YYYY)
'ubicacion' -- pasar diccionario con provincias (primera opcion), si no pasar diccionario países y si no NaN
'idiomas'
'descripcion'
'modalidad'
'experiencia'
'portal_empleo'

In [217]:
df1["modalidad_f"].unique()

array([nan, 'Híbrido', 'Presencial', 'Remoto'], dtype=object)

In [185]:
df1["idiomas_limpios"].unique()

array([None], dtype=object)

In [173]:
df1["provincia"].value_counts(dropna = False)

provincia
Madrid          1508
Teletrabajo      829
Barcelona        550
Málaga           203
Reino Unido      112
                ...
Norte Europa       1
Rumanía            1
London             1
Lugo               1
Ceuta              1
Name: count, Length: 69, dtype: int64

In [109]:
df1["ubicacion"].value_counts()

ubicacion
Teletrabajo                          829
Madrid - España                      722
Madrid                               690
Barcelona                            265
Barcelona - España                   244
                                    ...
Melilla                                1
Chiva - Valencia - España              1
Las Palmas De Gran Canaria España      1
Leeds - Yorkshire - Reino Unido        1
Alcobendas - Madrid - España           1
Name: count, Length: 310, dtype: int64

In [105]:
df1["provincia"].shape[0]

3995

In [97]:
df1.head()

,id_urls,oferta,empresa,funcion,tecnologias_aptitudes,estudios,jornada,contrato,fecha,ubicacion,idiomas,descripcion,modalidad,experiencia,portal_empleo,salario_min,salario_max,provincia
0,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,Java REST API Git CI/CD Hibernate Docker Cloud...,True,Jornada completa,Indefinido,04/2025,Alcobendas - Madrid - España,Inglés (Alto),Descripción de la oferta de empleo 7+ years of...,NaN,Más de 5 años,tecnoempleo,NaN,NaN,Madrid
1,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,Java Angular SQL SCRUM Git Html CSS Bootstrap ...,True,Jornada completa,Indefinido,04/2025,Hospitalet de Llobregat - Barcelona,Inglés (Alto),Descripción de la oferta de empleo Mytic Innov...,Híbrido,2 años,tecnoempleo,27000,33000,Barcelona
2,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,java javascript spring angular react html css ...,True,Jornada completa,Indefinido,04/2025,Madrid,Inglés (Alto),Descripción de la oferta de empleo ¿Eres una p...,Híbrido,3 años,tecnoempleo,NaN,NaN,Madrid
3,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,php7 phpunit ajax composer poo psr4 svn doctrine,True,Jornada completa,Temporal,04/2025,Gzira - Malta,Inglés (Medio),Descripción de la oferta de empleo ¡Únete a nu...,Presencial,2 años,tecnoempleo,30000,30000,Malta
4,https://www.tecnoempleo.com/docente-online-int...,Docente online Inteligencia Artificial,EIP Escuela Internacional Posgrados,Formador,Azure Zapier Chat GPT Make Monica Gemini,True,Media jornada,Temporal,04/2025,Teletrabajo,NaN,Descripción de la oferta de empleo ¡Únete a nu...,100% remoto,1 año,tecnoempleo,49920,49920,Teletrabajo

In [39]:
df1.columns

Index(['id_urls', 'oferta', 'empresa', 'funcion', 'tecnologias_aptitudes',
       'estudios', 'jornada', 'contrato', 'salario', 'fecha', 'ubicacion',
       'idiomas', 'descripcion', 'modalidad', 'experiencia', 'portal_empleo'],
      dtype='object')

In [37]:
df1["tecnologias_aptitudes"][0]

'Java REST API Git CI/CD Hibernate Docker Cloud AWS Azure GCP'

In [77]:
df1["estudios"].value_counts()

estudios
False    2697
True     1298
Name: count, dtype: int64

In [67]:
df1["jornada"].value_counts(dropna = False)

jornada
Jornada completa    3976
Media jornada         13
Por horas              6
Name: count, dtype: int64

In [69]:
df1["contrato"].value_counts(dropna = False)

contrato
Indefinido            3820
Freelance/Autónomo      53
A determinar            50
Prácticas               34
Temporal                30
Obra o servicio          8
Name: count, dtype: int64

In [65]:
df1["salario"].value_counts(dropna = False)

salario
NaN            3260
30000 36000      33
39000 45000      32
45000 54000      28
54000 60000      27
               ...
24 30             1
60000 86000       1
48000 76000       1
60000 74000       1
21000 21000       1
Name: count, Length: 130, dtype: int64