In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel("prueba.xlsx") #DataFrame TecnoEmpleo (ANTHONY)

In [3]:
df1.head()

,Urls,Oferta,Empresa,Funcion,Aptitudes,Requisito,Jornada,Contrato,Salario,Fecha_de_publicacion,Ubicacion,Idiomas,Texto,Teletrabajo o Presencial,Experiencia
0,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,Java REST API Git CI/CD Hibernate Docker Cloud...,Ingeniero Superior,Jornada completa,Indefinido,NaN,12/04/2025,Alcobendas - Madrid - España,Inglés (Alto),Descripción de la oferta de empleo 7+ years of...,NaN,Más de 5 años
1,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,Java Angular SQL SCRUM Git Html CSS Bootstrap ...,Ingeniero Superior,Jornada completa,Indefinido,27000 33000,11/04/2025,Hospitalet de Llobregat - Barcelona,Inglés (Alto),Descripción de la oferta de empleo Mytic Innov...,Híbrido,2 años
2,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,java javascript spring angular react html css ...,FP2/Grado Superior,Jornada completa,Indefinido,NaN,11/04/2025,Madrid,Inglés (Alto),Descripción de la oferta de empleo ¿Eres una p...,Híbrido,3 años
3,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,php7 phpunit ajax composer poo psr4 svn doctrine,FP2/Grado Superior,Jornada completa,Temporal,30000 30000,11/04/2025,Gzira - Malta,Inglés (Medio),Descripción de la oferta de empleo ¡Únete a nu...,Presencial,2 años
4,https://www.tecnoempleo.com/docente-online-int...,Docente online Inteligencia Artificial,EIP Escuela Internacional Posgrados,Formador,Azure Zapier Chat GPT Make Monica Gemini,FP2/Grado Superior,Media jornada,Temporal,24 24,11/04/2025,Teletrabajo,NaN,Descripción de la oferta de empleo ¡Únete a nu...,100% remoto,1 año

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3995 entries, 0 to 3994
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Urls                      3995 non-null   object
 1   Oferta                    3995 non-null   object
 2   Empresa                   3991 non-null   object
 3   Funcion                   3995 non-null   object
 4   Aptitudes                 3995 non-null   object
 5   Requisito                 1298 non-null   object
 6   Jornada                   3995 non-null   object
 7   Contrato                  3995 non-null   object
 8   Salario                   735 non-null    object
 9   Fecha_de_publicacion      3995 non-null   object
 10  Ubicacion                 3995 non-null   object
 11  Idiomas                   607 non-null    object
 12  Texto                     3891 non-null   object
 13  Teletrabajo o Presencial  2195 non-null   object
 14  Experiencia               3891 non-null   object
dtypes: object(15)
memory usage: 468.3+ KB

In [5]:
#poner el nombre de las columnas en minúscula
df1.columns = df1.columns.str.lower()

In [6]:
#renombrar las columnas para unir los dataframes
df1.rename(columns={"urls": "id_urls",
                    "fecha_de_publicacion": "fecha",
                    "aptitudes": "tecnologias_aptitudes",
                    "requisito": "estudios",
                    "teletrabajo o presencial": "modalidad",
                    "texto": "descripcion"}
           , inplace=True)

In [7]:
#nombre de las columnas correcto
df1.head()

,id_urls,oferta,empresa,funcion,tecnologias_aptitudes,estudios,jornada,contrato,salario,fecha,ubicacion,idiomas,descripcion,modalidad,experiencia
0,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,Java REST API Git CI/CD Hibernate Docker Cloud...,Ingeniero Superior,Jornada completa,Indefinido,NaN,12/04/2025,Alcobendas - Madrid - España,Inglés (Alto),Descripción de la oferta de empleo 7+ years of...,NaN,Más de 5 años
1,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,Java Angular SQL SCRUM Git Html CSS Bootstrap ...,Ingeniero Superior,Jornada completa,Indefinido,27000 33000,11/04/2025,Hospitalet de Llobregat - Barcelona,Inglés (Alto),Descripción de la oferta de empleo Mytic Innov...,Híbrido,2 años
2,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,java javascript spring angular react html css ...,FP2/Grado Superior,Jornada completa,Indefinido,NaN,11/04/2025,Madrid,Inglés (Alto),Descripción de la oferta de empleo ¿Eres una p...,Híbrido,3 años
3,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,php7 phpunit ajax composer poo psr4 svn doctrine,FP2/Grado Superior,Jornada completa,Temporal,30000 30000,11/04/2025,Gzira - Malta,Inglés (Medio),Descripción de la oferta de empleo ¡Únete a nu...,Presencial,2 años
4,https://www.tecnoempleo.com/docente-online-int...,Docente online Inteligencia Artificial,EIP Escuela Internacional Posgrados,Formador,Azure Zapier Chat GPT Make Monica Gemini,FP2/Grado Superior,Media jornada,Temporal,24 24,11/04/2025,Teletrabajo,NaN,Descripción de la oferta de empleo ¡Únete a nu...,100% remoto,1 año

#### PORTAL_EMPLEO

In [8]:
#añadimos la columna "portal_empleo" a partir de la columna "id_urls"
df1["portal_empleo"] = df1["id_urls"].str.split("www.").str[1].str.split(".com").str[0]

#### JORNADA

In [10]:
#reemplazar valores que son "Jornada completa"
jornada_completa = {
    "Intensiva Mañana": "Jornada completa",
    "Turno rotatorio": "Jornada completa",
    "Intensiva Tarde": "Jornada completa"
}

df1["jornada"] = df1["jornada"].replace(jornada_completa)

#### ESTUDIOS

In [11]:
#convertirmos la columna en una columna booleana: si requiere estudios = True, si no reqiere estudios = False
df1["estudios"] = df1["estudios"].notna()

#### SALARIO

In [25]:
#dividir la columna salario (rango) en dos columnas: salario_min y salario_max
df1[["salario_min_pre","salario_max_pre"]] = df1["salario"].str.split(" ", expand = True)

In [29]:
#pasar salario bruto por hora a salario bruto anual
df1["salario_min"] = df1["salario_min_pre"].apply(lambda x: int(x) * 40 * 52 if str(x).isdigit() and len(x) == 2 else x)
df1["salario_max"] = df1["salario_max_pre"].apply(lambda x: int(x) * 40 * 52 if str(x).isdigit() and len(x) == 2 else x)

In [33]:
#eliminar columnas de salario innecesarias
columnas_salario_eliminar = ["salario", "salario_min_pre", "salario_max_pre"]
df1.drop(columns = columnas_salario_eliminar, inplace = True)

In [ ]:
#'id_urls'--OK
#'oferta'--OK
#'empresa'--OK (hay 4 NaN)
#'funcion'--OK
'tecnologias_aptitudes'--Intentar extraer en lista
#'estudios'-- OK (transformar en Booleano (True/False))
#'jornada'-- OK(pasar diccionario para convertir en Jornada Completa (Intensiva Mañana, Turno rotatorio e Intensiva Tarde))
'contrato'
#'salario'-- OK (separar en dos columnas (min y max) y convertir bruto por hora en bruto anual)
'fecha'
'ubicacion' -- pasar diccionario con provincias (primera opcion), si no pasar diccionario países y si no NaN
'idiomas'
'descripcion'
'modalidad'
'experiencia'
'portal_empleo'

In [79]:
df1["contrato"].value_counts()

contrato
Indefinido            3820
Freelance/Autónomo      53
A determinar            50
Prácticas               34
Temporal                30
Obra o servicio          8
Name: count, dtype: int64

In [35]:
df1.head()

,id_urls,oferta,empresa,funcion,tecnologias_aptitudes,estudios,jornada,contrato,fecha,ubicacion,idiomas,descripcion,modalidad,experiencia,portal_empleo,salario_min,salario_max
0,https://www.tecnoempleo.com/software-engineeri...,Software Engineering Manager,Solera,Analista Programador,Java REST API Git CI/CD Hibernate Docker Cloud...,True,Jornada completa,Indefinido,12/04/2025,Alcobendas - Madrid - España,Inglés (Alto),Descripción de la oferta de empleo 7+ years of...,NaN,Más de 5 años,tecnoempleo,NaN,NaN
1,https://www.tecnoempleo.com/front-developer-se...,Front Developer Senior,Mytic Innova,Analista Programador,Java Angular SQL SCRUM Git Html CSS Bootstrap ...,True,Jornada completa,Indefinido,11/04/2025,Hospitalet de Llobregat - Barcelona,Inglés (Alto),Descripción de la oferta de empleo Mytic Innov...,Híbrido,2 años,tecnoempleo,27000,33000
2,https://www.tecnoempleo.com/programador-fullst...,Programador FullStack,Dev&del,Analista Programador,java javascript spring angular react html css ...,True,Jornada completa,Indefinido,11/04/2025,Madrid,Inglés (Alto),Descripción de la oferta de empleo ¿Eres una p...,Híbrido,3 años,tecnoempleo,NaN,NaN
3,https://www.tecnoempleo.com/analista-programad...,Analista Programador en PHP,Codicert,Programador,php7 phpunit ajax composer poo psr4 svn doctrine,True,Jornada completa,Temporal,11/04/2025,Gzira - Malta,Inglés (Medio),Descripción de la oferta de empleo ¡Únete a nu...,Presencial,2 años,tecnoempleo,30000,30000
4,https://www.tecnoempleo.com/docente-online-int...,Docente online Inteligencia Artificial,EIP Escuela Internacional Posgrados,Formador,Azure Zapier Chat GPT Make Monica Gemini,True,Media jornada,Temporal,11/04/2025,Teletrabajo,NaN,Descripción de la oferta de empleo ¡Únete a nu...,100% remoto,1 año,tecnoempleo,49920,49920

In [39]:
df1.columns

Index(['id_urls', 'oferta', 'empresa', 'funcion', 'tecnologias_aptitudes',
       'estudios', 'jornada', 'contrato', 'salario', 'fecha', 'ubicacion',
       'idiomas', 'descripcion', 'modalidad', 'experiencia', 'portal_empleo'],
      dtype='object')

In [37]:
df1["tecnologias_aptitudes"][0]

'Java REST API Git CI/CD Hibernate Docker Cloud AWS Azure GCP'

In [77]:
df1["estudios"].value_counts()

estudios
False    2697
True     1298
Name: count, dtype: int64

In [67]:
df1["jornada"].value_counts(dropna = False)

jornada
Jornada completa    3976
Media jornada         13
Por horas              6
Name: count, dtype: int64

In [69]:
df1["contrato"].value_counts(dropna = False)

contrato
Indefinido            3820
Freelance/Autónomo      53
A determinar            50
Prácticas               34
Temporal                30
Obra o servicio          8
Name: count, dtype: int64

In [65]:
df1["salario"].value_counts(dropna = False)

salario
NaN            3260
30000 36000      33
39000 45000      32
45000 54000      28
54000 60000      27
               ...
24 30             1
60000 86000       1
48000 76000       1
60000 74000       1
21000 21000       1
Name: count, Length: 130, dtype: int64