# LIMPIEZA
### 1. Importación librerias
### 2. Carga archivos de extracción de datos
### 3.1. Limpieza Manfred
### 3.2. Limpieza Tecnoempleo
### 4. Guardado dataframes limpios
### 5. Concatenación dataframes
### 6. Limpieza columna "tecnologias_aptitudes"
### 7. Llenado columnas a partir de descripción
### 8. Reemplazo NaN por None y tipo de dato
### 9. Guardado dataframe limpio

# 1. IMPORTACIÓN LIBRERIAS

In [2]:
import pandas as pd
import numpy as np
import ast

# 2. CARGA ARCHIVOS DE EXTRACCIÓN DE DATOS

In [4]:
df1 = pd.read_excel("../csv/PARTE_1_1_Tecnoempleo_f.xls") #DataFrame TecnoEmpleo

In [5]:
df2 = pd.read_csv("../csv/PARTE_1_1_extraccion_manfred.csv") #DataFrame Manfred

# 3.1. LIMPIEZA MANFRED

In [7]:
#visualizar resumen dataframe extraído
df2.head()

,url,nombre,oferta,fecha,fecha_extraccion,salario,remoto,localizacion,teletrabajo,dia_laborable,vacaciones,Tecnologías,Otras habilidades,Idiomas,textos,Beneficios
0,https://www.getmanfred.com/ofertas-empleo/7684...,SuperReal,Tech Lead (Nodejs),abr25,2025-04-19 21:03:16.572525,€50-60K,False,Madrid,20%,Jornada completa,25 días,"['NodeJS', 'REST', 'TypeScript', 'Azure']","['Trabajo en equipo', 'Pensamiento analítico',...",['Inglés'],¿Cómo lo harás?SuperReal tiene el tamaño de un...,NaN
1,https://www.getmanfred.com/ofertas-empleo/7648...,Sngular,JS Fullstack Developer,abr25,2025-04-19 21:03:18.020427,€35-42K,True,NaN,100%,Jornada completa,25 días,"['NodeJS', 'REST', 'MongoDB', 'SQL', 'React', ...","['Adaptabilidad al cambio', 'Trabajo en equipo...",['Inglés'],¿Cómo lo harás?Déjame que te describa la quint...,"['Clases de Idiomas', 'Posibilidad de elegir e..."
2,https://www.getmanfred.com/ofertas-empleo/7546...,Idealista,UX Product Designer,abr25,2025-04-19 21:03:19.546091,Hasta €55K,False,Madrid,60%,Jornada completa,23 días,['Figma'],"['Visión crítica', 'Capacidad de abstracción',...",['Inglés'],"¿Cómo lo harás?Es una organización muy plana, ...","['Clases de Idiomas', 'Café, fruta y snacks', ..."
3,https://www.getmanfred.com/ofertas-empleo/7511...,Valar Space,Java Backend Developer,mar25,2025-04-19 21:03:21.054967,€35-40K,True,NaN,100%,Jornada completa,22 días,"['Java', 'Spring', 'Hibernate', 'Github', 'API...","['Atención al detalle', 'Capacidad de dar feed...","['Español', 'Inglés']",¿Cómo lo harás?Tu día empezará revisando Linea...,"['Cheque Guardería', 'Presupuesto para formaci..."
4,https://www.getmanfred.com/ofertas-empleo/7406...,MavelPoint,Senior Frontend Developer,mar25,2025-04-19 21:03:22.551202,Hasta €55K,True,NaN,100%,Jornada completa,23 días,"['NextJS', 'React', 'PostgreSQL', 'Azure', 'ne...","['Aprendizaje Continuo', 'Capacidad de dar fee...",NaN,"¿Cómo lo harás?Como decíamos más arriba, nos e...",['Presupuesto para formación']

In [8]:
#poner el nombre de las columnas en minúscula
df2.columns = df2.columns.str.lower()

In [9]:
#renombrar las columnas para futura concatenacion de los dataframes
df2.rename(columns={"url": "id_urls",
                    "nombre": "empresa",
                    "remoto": "modalidad",
                    "localizacion": "ubicacion",
                    "teletrabajo": "modalidad_2",
                    "dia_laborable": "jornada",
                    "tecnologías": "tecnologias_aptitudes",
                    "otras habilidades": "skills",
                    "textos": "descripcion"
                    }
           , inplace=True)

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_urls                1279 non-null   object
 1   empresa                1279 non-null   object
 2   oferta                 1279 non-null   object
 3   fecha                  1279 non-null   object
 4   fecha_extraccion       1279 non-null   object
 5   salario                1279 non-null   object
 6   modalidad              1279 non-null   bool
 7   ubicacion              265 non-null    object
 8   modalidad_2            1250 non-null   object
 9   jornada                1033 non-null   object
 10  vacaciones             1277 non-null   object
 11  tecnologias_aptitudes  1180 non-null   object
 12  skills                 1169 non-null   object
 13  idiomas                293 non-null    object
 14  descripcion            1279 non-null   object
 15  beneficios             1090 non-null   object
dtypes: bool(1), object(15)
memory usage: 151.3+ KB

## COLUMNAS:

#### PORTAL_EMPLEO

In [12]:
#añadimos la columna "portal_empleo" a partir de la columna "id_urls"
df2["portal_empleo"] = df2["id_urls"].str.split("www.").str[1].str.split(".com").str[0]
#Reemplazar NaN por None
df2["portal_empleo"] = df2["portal_empleo"].replace({pd.NA: None, np.nan: None})

In [ ]:
df2["portal_empleo"].unique()

#### EMPRESA

In [14]:
#sustituir NaN por None
df2["empresa"] = df2["empresa"].replace({pd.NA: None, np.nan: None})

In [ ]:
df2["empresa"].unique()

#### OFERTA

In [16]:
#sustituir NaN por None
df2["oferta"] = df2["oferta"].replace({pd.NA: None, np.nan: None})

In [ ]:
df2["oferta"].unique()

#### FECHA

In [18]:
df2["fecha"].unique()

array(['abr25', 'mar25', 'feb25', 'ene25', 'dic24', 'nov24', 'oct24',
       'sept24', 'ago24', 'jul24', 'jun24', 'may24', 'abr24', 'mar24',
       'feb24', 'oct23', '24', 'ene24', 'dic23', 'nov23', 'sept23',
       'jul23', 'ago23', 'jun23', 'may23', 'abr23', 'mar23', 'feb23',
       'ene23', 'nov22', 'dic22', 'oct22', 'ago22', 'sept22', 'jul22',
       'jun22', 'may22', 'abr22', 'mar22', 'en', 'feb22', 'ene22',
       'dic21', 'nov21', 'oct21', 'developer', 'sept21', 'ago21', 'jul21',
       'jun21', 'manager', 'engineer'], dtype=object)

In [19]:
#crear diccionario que relaciona breviatura con mes en número
meses = {
    "ene": "01", "feb": "02", "mar": "03", "abr": "04", "may": "05", "jun": "06",
    "jul": "07", "ago": "08", "sept": "09", "oct": "10", "nov": "11", "dic": "12"
}

In [20]:
#funcion para convertir los valores de fecha en formato adecuado para posterior cambio a tipo de dato: datetime
def convertir_fecha(fecha):
    if isinstance(fecha, str):
        if len(fecha) == 5:
            mes_abr = fecha[:3].lower()
        elif len(fecha) == 6:
            mes_abr = fecha[:4].lower()
        else:
            return None
        
        anio = "20" + fecha[-2:]
        mes = meses.get(mes_abr)
        if mes:
            return f"{mes}/{anio}"
    return None

In [21]:
df2["fecha"] = df2["fecha"].apply(convertir_fecha)

In [ ]:
#cambiar a tipo de dato: datetime y reemplazo de NaN por None
df2["fecha"] = pd.to_datetime(df2["fecha"], format="%m/%Y", errors="coerce")
df2["fecha"] = df2["fecha"].replace({pd.NaT: None})

In [ ]:
df2["fecha"].unique()

#### SALARIO

In [ ]:
#función para crear columnas con salario mínimo y salario maximo a partir de salario, limpiando los caracteres innecesarios
def limpiar_salario(salario):
    salario = str(salario).replace("€", "").replace("US$", "").replace("£", "").replace(",", "").replace("K", "").replace("Hasta", "").replace("Desde", "").replace("/hora", "").replace("MXN$", "").strip()

    if '-' in salario:
        salario_min, salario_max = salario.split('-')
        return pd.Series([float(salario_min)*1000, float(salario_max)*1000])
    else:
        return pd.Series([float(salario)*1000, float(salario)*1000])

In [ ]:
df2[["salario_min", "salario_max"]] = df2["salario"].apply(limpiar_salario)

In [ ]:
#reemplazar NaN por None
df2["salario_min"] = df2["salario_min"].replace(np.nan, None)
df2["salario_max"] = df2["salario_max"].replace(np.nan, None)

In [107]:
df2.drop(columns = "salario", inplace = True)

In [ ]:
df2["salario_min"].unique()

In [ ]:
df2["salario_max"].unique()

#### MODALIDAD

In [ ]:
df2["modalidad_2"].unique()

In [ ]:
#sobreescribir la columna modalidad con los valores deseados a partir de los valores iniciales de las columnas modalidad y modalidad_2
condiciones = [
    df2["modalidad"] == True,
    (df2["modalidad_2"].notna()) & (df2["modalidad_2"] != '100%'),
    (df2["modalidad_2"].isna()) & (df2["ubicacion"].notna())
]

opciones = ["Teletrabajo", "Híbrido", "Presencial"]

df2["modalidad"] = np.select(condiciones, opciones, default=None)
df2.drop(columns = "modalidad_2", inplace = True)

In [ ]:
df2["modalidad"].unique()

#### UBICACION

In [ ]:
df2["ubicacion"].unique()

In [ ]:
#función para obtener las ubicaciones separadas por , si hay más de una ubicación
def limpiar_ubicacion(valor):
    if pd.isna(valor):
        return None
    return ", ".join([ubicacion.strip() for ubicacion in valor.split(" o ")])

df2["ubicacion"] = df2["ubicacion"].apply(limpiar_ubicacion)

In [ ]:
df2["ubicacion"].unique()

#### JORNADA

In [ ]:
#sustituir NaN por None
df2["jornada"] = df2["jornada"].replace(np.nan, None)

In [ ]:
df2["jornada"].unique()

#### VACACIONES

Eliminar texto innecesario, sustituir "Ilimitado" por la media redondeada de la columna y sustituir NaN por None

In [ ]:
#función para eliminar el texto y extraer el número de días de vacaciones
def limpiar_vacaciones(valor):
    if pd.isna(valor):
        return np.nan
    else:
        return valor.split()[0]

df2["vacaciones"] = df2["vacaciones"].apply(limpiar_vacaciones)

In [ ]:
#sustituir el valor Ilimitado por la media y sustituir NaN por None
df2["vacaciones_sin_ilimitado"] = df2["vacaciones"].apply(lambda x: np.nan if x == "Ilimitado" else x)
df2["vacaciones_sin_ilimitado"] = df2["vacaciones_sin_ilimitado"].astype(float)
media_vacaciones = df2["vacaciones_sin_ilimitado"].mean()
media_redondeada = round(media_vacaciones)
df2["vacaciones"] = df2["vacaciones"].apply(lambda x: media_redondeada if x == "Ilimitado" else x)
df2["vacaciones"] = df2["vacaciones"].astype(float)
df2["vacaciones"] = df2["vacaciones"].replace(np.nan, None)
df2.drop(columns = "vacaciones_sin_ilimitado", inplace = True)

In [ ]:
df2["vacaciones"].unique()

#### TECNOLOGIAS_APTITUDES

In [ ]:
#función para convertir en string de valores separados por comas y sustituir NaN por None
def limpiar_tecnologias_aptitudes(valor):
    if pd.isna(valor):
        return None
    else:
        lista_tecnologias = ast.literal_eval(valor)
        return ", ".join(lista_tecnologias)

df2["tecnologias_aptitudes"] = df2["tecnologias_aptitudes"].apply(limpiar_tecnologias_aptitudes)

In [ ]:
df2["tecnologias_aptitudes"].unique()

#### SKILLS

In [ ]:
#convertir en string de valores separados por comas y sustituir NaN por None
def limpiar_skills(valor):
    if pd.isna(valor):
        return None
    else:
        lista_skills = ast.literal_eval(valor)
        return ", ".join(lista_skills)

df2["skills"] = df2["skills"].apply(limpiar_skills)

In [ ]:
df2["skills"].unique()

#### IDIOMAS

In [ ]:
#convertir en string de valores separados por comas y sustituir NaN por None
def limpiar_idiomas(valor):
    if pd.isna(valor):
        return None
    else:
        lista_idiomas = ast.literal_eval(valor)
        return ", ".join(lista_idiomas)

df2["idiomas"] = df2["idiomas"].apply(limpiar_idiomas)

In [ ]:
df2["idiomas"].unique()

#### DESCRIPCION

In [ ]:
df2["descripcion"] = df2["descripcion"].replace(np.nan, None)

#### BENEFICIOS

In [ ]:
#convertir en string de valores separados por comas y sustituir NaN por None
def limpiar_beneficios(valor):
    if pd.isna(valor):
        return None
    else:
        lista_beneficios = ast.literal_eval(valor)
        return ", ".join(lista_beneficios)

df2["beneficios"] = df2["beneficios"].apply(limpiar_beneficios)

In [ ]:
df2["beneficios"].unique()

## OTRAS MODIFICACIONES

In [ ]:
#cambiar el tipo de dato
df2["fecha"] = pd.to_datetime(df2["fecha"])
df2["vacaciones"] = df2["vacaciones"].astype("Int64")
df2["fecha_extraccion"] = pd.to_datetime(df2["fecha_extraccion"])

## RESULTADO LIMPIEZA

In [ ]:
df2.head()

In [ ]:
df2.info()

# 3.2. LIMPIEZA TECNOEMPLEO

In [ ]:
df1.head()

In [ ]:
df1.info()

In [ ]:
#poner el nombre de las columnas en minúscula
df1.columns = df1.columns.str.lower()

In [ ]:
#renombrar las columnas para futura concatenacion de los dataframes
df1.rename(columns={"urls": "id_urls",
                    "fecha_de_publicacion": "fecha",
                    "aptitudes": "tecnologias_aptitudes",
                    "requisito": "estudios",
                    "teletrabajo o presencial": "modalidad",
                    "texto": "descripcion"}
           , inplace=True)

## COLUMNAS:

#### PORTAL_EMPLEO

In [ ]:
#añadimos la columna "portal_empleo" a partir de la columna "id_urls"
df1["portal_empleo"] = df1["id_urls"].str.split("www.").str[1].str.split(".com").str[0]
#Reemplazar NaN por None
df1["portal_empleo"] = df1["portal_empleo"].replace({pd.NA: None, np.nan: None})

In [ ]:
df1["portal_empleo"].unique()

#### EMPRESA

In [ ]:
df1["empresa"] = df1["empresa"].replace({pd.NA: None, np.nan: None})

#### JORNADA

In [ ]:
#reemplazar valores que son "Jornada completa"
jornada_completa = {
    "Intensiva Mañana": "Jornada completa",
    "Turno rotatorio": "Jornada completa",
    "Intensiva Tarde": "Jornada completa"
}

df1["jornada"] = df1["jornada"].replace(jornada_completa)

In [ ]:
#Reemplazar NaN por None
df1["jornada"] = df1["jornada"].replace({pd.NA: None, np.nan: None})

In [ ]:
df1["jornada"].unique()

#### FUNCION

In [ ]:
#Reemplazar NaN por None
df1["funcion"] = df1["funcion"].replace({pd.NA: None, np.nan: None})

In [ ]:
df1["funcion"].unique()

#### TECNOLOGIAS_APTITUDES

In [ ]:
#convertir la columna de listas a texto separado por ","
#convertir en string de valores separados por comas y sustituir NaN por None
def limpiar_tecnologias_aptitudes(valor):
    if pd.isna(valor):
        return None
    else:
        lista_tecnologias = ast.literal_eval(valor)
        return ", ".join(lista_tecnologias)

df1["tecnologias_aptitudes"] = df1["tecnologias_aptitudes"].apply(limpiar_tecnologias_aptitudes)

In [ ]:
df1["tecnologias_aptitudes"].unique()

#### ESTUDIOS

In [ ]:
#convertirmos la columna en una columna booleana: si requiere estudios = True, si no reqiere estudios = False
df1["estudios"] = df1["estudios"].notna()

In [ ]:
df1["estudios"].unique()

#### SALARIO

In [ ]:
#dividir la columna salario (rango) en dos columnas: salario_min y salario_max
df1[["salario_min","salario_max"]] = df1["salario"].str.split(" ", expand = True)

In [ ]:
#pasar salario bruto por hora a salario bruto anual y reemplazar NaN por None
df1["salario_min"] = df1["salario_min"].apply(lambda x: int(x) * 40 * 52 if str(x).isdigit() and len(x) == 2 else x)
df1["salario_min"] = df1["salario_min"].replace({pd.NA: None, np.nan: None})
df1["salario_max"] = df1["salario_max"].apply(lambda x: int(x) * 40 * 52 if str(x).isdigit() and len(x) == 2 else x)
df1["salario_max"] = df1["salario_max"].replace({pd.NA: None, np.nan: None})

In [ ]:
#eliminar columna de salario innecesaria
columnas_salario_eliminar = ["salario"]
df1.drop(columns = columnas_salario_eliminar, inplace = True)

In [ ]:
df1["salario_min"].unique()

In [ ]:
df1["salario_max"].unique()

#### FECHA

In [ ]:
#convertir a formato fecha y reemplazar NaN por None
df1["fecha"] = pd.to_datetime(df1["fecha"], format="%d/%m/%Y", errors="coerce")
df1["fecha"] = df1["fecha"].replace({pd.NaT: None})

In [ ]:
df1["fecha"].unique()

#### UBICACIÓN

In [ ]:
#limpiamos la columna "ubicacion" sustituyendo algunos valores por sus respectivas provincias
provincias = [
    "Álava", "Albacete", "Alicante", "Almería", "Asturias", "Ávila", "Badajoz", "Baleares", "Barcelona", "Burgos",
    "Cáceres", "Cádiz", "Cantabria", "Castellón", "Ciudad Real", "Córdoba", "Cuenca", "Girona", "Granada",
    "Guadalajara", "Guipúzcoa", "Huelva", "Huesca", "Jaén", "La Coruña", "La Rioja",
    "Las Palmas", "León", "Lleida", "Lugo", "Madrid", "Málaga", "Murcia", "Navarra", "Ourense",
    "Palencia", "Pontevedra", "Salamanca", "Santa Cruz de Tenerife", "Segovia", "Sevilla", "Soria",
    "Tarragona", "Teruel", "Toledo", "Valencia", "Valladolid", "Vizcaya", "Zamora", "Zaragoza"]

provincias_con_variante = {
    "Bizkaia" : "Vizcaya",
    "A Coruña" : "La Coruña",
    "Gipuzkoa" : "Guipúzcoa",
    "Zona Villaverde" : "Madrid"}

def extraer_provincia(ubicacion):

    if not isinstance(ubicacion, str):
        return None
    
    ubicacion_lower = ubicacion.lower()

    for variante, provincia_real in provincias_con_variante.items():
        if variante.lower() in ubicacion_lower:
            return provincia_real
    
    for provincia in provincias:
        if provincia.lower() in ubicacion_lower:
            return provincia
    
    return ubicacion  # Devuelve el valor original si no se encuentra una provincia


df1["ubicacion"] = df1["ubicacion"].apply(extraer_provincia)

In [ ]:
#limpiamos los valores que contienen otros países sustituyendolos por su pais
paises = [
    "Albania", "Alemania", "Andorra", "Armenia", "Austria", "Azerbaiyán", "Bielorrusia", "Bélgica",
    "Bosnia y Herzegovina", "Bulgaria", "Croacia", "Chipre", "Chequia", "Dinamarca", "Eslovaquia",
    "Eslovenia", "España", "Estonia", "Finlandia", "Francia", "Israel", "Georgia", "Grecia", "Hungría", "Holanda", "Irlanda",
    "Islandia", "Italia", "Kazajistán", "Kosovo", "Macedonia", "Letonia", "Liechtenstein", "Lituania", "Luxemburgo",
    "Malta", "Moldavia", "Mónaco", "Montenegro", "Noruega", "Países Bajos", "Macedonia del Norte", "Polonia",
    "Portugal", "Reino Unido", "Rumanía", "Rusia", "San Marino", "Serbia", "Suecia", "Suiza", "Turquía", "Ucrania"

]

def extraer_pais(ubicacion):

    if not isinstance(ubicacion, str):
        return None
    
    ubicacion_lower = ubicacion.lower()
    
    for pais in paises:
        if pais.lower() in ubicacion_lower:
            return pais
    
    return ubicacion  # Devuelve el valor original si no se encuentra una provincia


df1["ubicacion"] = df1["ubicacion"].apply(extraer_pais)

In [ ]:
df1["ubicacion"].unique()

#### IDIOMAS

In [ ]:
#limpiar la columna "idiomas" eliminando el nivel
niveles = ["(Alto)", "(Medio)", "(Excelente)", "(Bajo)"]

def limpiar_idiomas(texto):
    if pd.isna(texto):
        return None

    palabras = texto.split()  
    idiomas = []

    for palabra in palabras:
        if palabra not in niveles:
            idiomas.append(palabra)
    return idiomas

df1["idiomas"] = df1["idiomas"].apply(limpiar_idiomas)

In [ ]:
#convertir la columna de listas a texto separado por ","
df1["idiomas"] = df1["idiomas"].apply(lambda x: ",".join(x) if isinstance(x, list) else None)

In [ ]:
#Reemplazar NaN por None
df1["idiomas"] = df1["idiomas"].replace({pd.NA: None, np.nan: None})

In [ ]:
df1["idiomas"].unique()

#### MODALIDAD

In [ ]:
#limpiamos la columna "modalidad" dejando solo los tres valores deseados (Remoto, Híbrido y Presencial)
df1["modalidad"] = df1["modalidad"].apply(lambda x: x.replace("100% remoto", "Remoto") if isinstance(x, str) else x)

In [ ]:
#limpiamos la columna "modalidad" dejando solo los tres valores deseados (Remoto, Híbrido y Presencial)
df1["modalidad"] = df1["modalidad"].apply(lambda x: x.replace("100% remoto", "Remoto") if isinstance(x, str) else x)

In [ ]:
df1["modalidad"].unique()

#### CONTRATO

In [ ]:
#Reemplazar NaN por None
df1["contrato"] = df1["contrato"].replace({pd.NA: None, np.nan: None})

In [ ]:
df1["contrato"].unique()

#### EXPERIENCIA

In [ ]:
#limpiamos la columna experiencia sustituyendo los valores de texto por float (0, 0.5, 1, 2 ...)
experiencia_requerida = {
    "Sin" : 0,
    "Menos de un año" : 0.5,
    "1 año" : 1,
    "2 años" : 2,
    "3 años" : 3,
    "3-5 años" : 3,
    "Más de 5 años" : 5,
    "Más de 10 años" : 10  
}

def limpiar_experiencia(valor):
    if isinstance(valor, str):
        return experiencia_requerida.get(valor, None)
    return None

df1["experiencia"] = df1["experiencia"].apply(limpiar_experiencia)

In [ ]:
#Reemplazar NaN por None
df1["experiencia"] = df1["experiencia"].replace({pd.NA: None, np.nan: None})

In [ ]:
df1["experiencia"].unique()

#### DESCRIPCION

In [ ]:
#Reemplazar NaN por None
df1["descripcion"] = df1["descripcion"].replace({pd.NA: None, np.nan: None})

## OTRAS MODIFICACIONES

In [ ]:
#ordenar columnas
columnas_ordenadas = ["id_urls", "fecha", "oferta", "empresa", "funcion", "salario_min", "salario_max",
                      "estudios", "experiencia", "ubicacion", "modalidad", "jornada", "contrato",
                      "tecnologias_aptitudes", "idiomas", "portal_empleo", "descripcion","fecha_extraccion"]
df1 = df1[columnas_ordenadas]

In [ ]:
df1["fecha"] = pd.to_datetime(df1["fecha"])
df1["salario_min"] = df1["salario_min"].astype(float)
df1["salario_max"] = df1["salario_max"].astype(float)
df1["experiencia"] = df1["experiencia"].astype(float)
df1["fecha_extraccion"] = pd.to_datetime(df1["fecha_extraccion"])

## RESULTADO LIMPIEZA

In [ ]:
df1.head()

In [ ]:
df1.info()

# 4. GUARDADO DATAFRAMES LIMPIOS

In [ ]:
df1.to_csv("../csv/csv_limpios/Tecnoempleo_limpio.csv", index=False)

In [ ]:
df2.to_csv("../csv/csv_limpios/Manfred_limpio.csv", index=False)

# 5. CONCATENACIÓN DATAFRAMES

In [ ]:
df = pd.concat([df1, df2], ignore_index=True)

In [ ]:
df.shape

In [ ]:
columnas_ordenadas = ["id_urls", "fecha", "oferta", "empresa", "funcion", "salario_min", "salario_max",
                      "estudios", "experiencia", "ubicacion", "modalidad", "jornada", "contrato", "skills",
                      "tecnologias_aptitudes", "idiomas", "vacaciones", "beneficios", "portal_empleo", "descripcion","fecha_extraccion"]
df = df[columnas_ordenadas]

In [ ]:
df.head()

In [ ]:
df.info()

# 6. LIMPIEZA COLUMNA "tecnologias_aptitudes"

A través de un dataframe (.csv) con gran cantidad de competencias del sector recorremos la columna para limpiarla y extraer estas competencias

In [ ]:
df_competencias = pd.read_csv("../csv/Competencias Técnicas-UPDATE.csv")

In [ ]:
df_competencias.head()

In [ ]:
df["tecnologias_aptitudes"] = df["tecnologias_aptitudes"].str.lower()

In [ ]:
df_competencias["Competencia"] = df_competencias["Competencia"].str.lower()

In [ ]:
def limpiar_columna_tecnologias_aptitudes(df_a, columna_valores, df_b, columna_a_limpiar):
    # Obtener valores únicos limpios del primer DataFrame
    valores_validos = (
        df_a[columna_valores]
        .dropna()
        .astype(str)
        .str.strip()
        .unique()
    )
    valores_validos = [v.strip() for v in valores_validos if v]  # eliminar vacíos

    # Función para limpiar los valores en la columna del segundo DataFrame
    def filtrar_valores(cadena):
        if pd.isna(cadena):
            return None
        elementos = [v.strip() for v in cadena.split(",")]
        filtrados = [v for v in elementos if v in valores_validos]
        return ", ".join(filtrados) if filtrados else None

    # Aplicar limpieza
    df_b[columna_a_limpiar] = df_b[columna_a_limpiar].apply(filtrar_valores)
    return df_b

In [ ]:
df = limpiar_columna_tecnologias_aptitudes(df_competencias, "Competencia", df, "tecnologias_aptitudes")

# 7. LLENADO COLUMNAS A PARTIR DE DESCRIPCIÓN

In [ ]:
#función para completar las columnas "skills" y "beneficios" a partir de la columna "descripcion"
def completar_columna(df, columna_objetivo, columna_busqueda):
    # Rellenar NaNs
    df[columna_objetivo] = df[columna_objetivo].fillna('')
    df[columna_busqueda] = df[columna_busqueda].fillna('').astype(str)

    # Extraer valores únicos limpios de la columna objetivo
    valores_unicos = (
        df[columna_objetivo]
        .str.split(',')
        .explode()
        .str.strip()
        .dropna()
        .unique()
    )
    valores_unicos = [v for v in valores_unicos if v]  # eliminar vacíos

    # Función para completar valores ausentes
    def completar(row):
        if row[columna_objetivo].strip() == '':
            encontrados = [v for v in valores_unicos if v.lower() in row[columna_busqueda].lower()]
            return ', '.join(encontrados) if encontrados else None
        return row[columna_objetivo]

    # Aplicar al DataFrame
    df[columna_objetivo] = df.apply(completar, axis=1)
    return df

In [ ]:
df = completar_columna(df, "skills", "descripcion")
df = completar_columna(df, "beneficios", "descripcion")

In [ ]:
#función para completar la columnas "experiencia" a partir de la columna "descripcion"
def completar_columna_experiencia(df, columna_objetivo, columna_busqueda):
    # Rellenar NaNs
    df[columna_objetivo] = df[columna_objetivo].fillna('').astype(str)
    df[columna_busqueda] = df[columna_busqueda].fillna('').astype(str)

    # Lista fija de valores únicos (experiencias)
    valores_unicos = [
        "Sin experiencia",
        "Menos de un año de experiencia",
        "1 año de experiencia",
        "2 años de experiencia",
        "3 años de experiencia",
        "3-5 años de experiencia",
        "Más de 5 años de experiencia",
        "Más de 10 años de experiencia"
    ]

    # Función para completar valores ausentes
    def completar(row):
        objetivo = str(row[columna_objetivo]).strip()
        busqueda = str(row[columna_busqueda]).lower()
        if objetivo == '':
            encontrados = [v for v in valores_unicos if v.lower() in busqueda]
            return ', '.join(encontrados) if encontrados else None
        return row[columna_objetivo]

    # Aplicar al DataFrame
    df[columna_objetivo] = df.apply(completar, axis=1)
    return df

In [ ]:
df = completar_columna_experiencia(df, "experiencia", "descripcion")

In [ ]:
df["experiencia"].unique()

In [ ]:
#diccionario y función para sustituir el texto extraído a números
experiencia_requerida = {
    "Sin experiencia": 0,
    "Menos de un año de experiencia": 0.5,
    "1 año de experiencia": 1,
    "2 años de experiencia": 2,
    "3 años de experiencia": 3,
    "3-5 años de experiencia": 3,
    "Más de 5 años de experiencia": 5,
    "Más de 10 años de experiencia": 10
}

def limpiar_experiencia(valor):
    # Si ya es un número, lo mantenemos
    if isinstance(valor, (int, float)) and not pd.isna(valor):
        return valor

    # Si es un string, tratamos de convertirlo o mapearlo
    if isinstance(valor, str):
        valor = valor.strip()

        # Intentar convertir directamente a número (ej. '3.0', '5')
        try:
            return float(valor)
        except ValueError:
            pass

        # Si contiene varias experiencias (ej. 'Sin experiencia, 3 años de experiencia')
        if "," in valor:
            partes = [v.strip() for v in valor.split(",")]
            valores_convertidos = [experiencia_requerida.get(p) for p in partes if experiencia_requerida.get(p) is not None]
            if valores_convertidos:
                return max(valores_convertidos)  # puedes cambiar por min() o promedio
            else:
                return None

        # Si es un valor mapeado único
        return experiencia_requerida.get(valor, None)

    return None

In [ ]:
df["experiencia"] = df["experiencia"].apply(limpiar_experiencia)

In [ ]:
df["experiencia"].unique()

In [ ]:
#función para completar la columna "contrato" con los valores contenidos en la variable valores_unicos
def completar_columna_contrato(df, columna_objetivo, columna_busqueda):
    # Rellenar NaNs
    df[columna_objetivo] = df[columna_objetivo].fillna('').astype(str)
    df[columna_busqueda] = df[columna_busqueda].fillna('').astype(str)

    # Lista fija de valores únicos (experiencias)
    valores_unicos = [
        'Indefinido', 'Temporal', 'A determinar', 'Freelance/Autónomo',
       'Prácticas', 'Obra o servicio'
    ]

    # Función para completar valores ausentes
    def completar(row):
        objetivo = str(row[columna_objetivo]).strip()
        busqueda = str(row[columna_busqueda]).lower()
        if objetivo == '':
            encontrados = [v for v in valores_unicos if v.lower() in busqueda]
            return ', '.join(encontrados) if encontrados else None
        return row[columna_objetivo]

    # Aplicar al DataFrame
    df[columna_objetivo] = df.apply(completar, axis=1)
    return df

In [ ]:
df = completar_columna_contrato(df, "contrato", "descripcion")

# 8. REEMPLAZO NaN por None y TIPO DE DATO

In [ ]:
df = df.replace(np.nan, None)

In [ ]:
df["fecha"] = pd.to_datetime(df["fecha"])
df["salario_min"] = df["salario_min"].astype(float)
df["salario_max"] = df["salario_max"].astype(float)
df["estudios"] = df["estudios"].astype(bool)
df["experiencia"] = df["experiencia"].astype(float)
df["vacaciones"] = df["vacaciones"].astype("Int64")
df["fecha_extraccion"] = pd.to_datetime(df["fecha_extraccion"])

# 9. GUARDADO DATAFRAME LIMPIO (.csv)

In [ ]:
df.to_csv("../csv/PARTE_1_2_df_final_limpio.csv", index=False)